.flat-description {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.booking-box {
  border: 1px solid #c2cfd8;
  padding: 5px;
  text-align: center;
  margin: 10px;
}

.picture {
  position: relative;
  height: 40px;
}

.view-photos {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
