// Pictures:

.pictures-banner {
  height: 400px;
  width: 100%;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 50% 50%;
}


.add-photo {
  background-size: cover;
  background-color: lightgray;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &:hover {
    background-color: rgba(238,95,91,0.3);
  }
  .add-photo-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  p {
    color: white;
    font-size: 48px;
  }
}

#picture1 {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  position: relative;
}

.apt-pic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  .fa, .fas, .far, .fal, .fab {
    color: white;
    text-shadow: 1px 1px 5px gray;
    &:hover {
      text-shadow: 1px 1px 5px rgba(238,95,91,0.9);
    }
  }
  .edit-pen {
    position: absolute;
    top: 10px;
    right: 40px;
  }


  .trash {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}


// Description:

.flat-description {
  margin-left: auto;
  margin-right: auto;
  width: auto;
  padding-right: 24px;
  padding-left: 24px;
}

.booking-box {
  padding: 20px;
  text-align: center;
  margin: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.2)
}

.price_night {
  border-bottom: 1px solid #04536c;
  margin: 10px 50px;
}

.price_total {
  border-bottom: 1px solid #04536c;
  margin: 0px 50px;
  margin-bottom: 20px;
}


.date.required.form-control{
  display: inline-block;
  width: 70%;
}

