<div class="page-content">
  <div class="index-flex">
    <div class="flats-list">
      <h1 class="main-title text-center">All Listings</h1>
          <% @flats.each do |flat| %>
            <%= flat.name %>
          <% end %>
      </div>
    </div>
</div>
