<div class="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= image_path('treehouse.jpg') %>)">
  <div class="banner-content">
    <h1 class="text-center">Plan your next adventure</h1>
    <div class="search-form">
      <form action=<%= flats_path %> class="form-inline">
        <div class="flex">
          <input type="text" name="query" id="search-location-home" placeholder="Your destination">
          <input type="number" name="min-capacity" placeholder="Guests">
          <input type="submit" class="btn btn-danger search-submit" value="Search">
        </div>
      </form>
    </div>
  </div>
</div>




