.home-banner {
  height: calc(100vh - 70px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  h1 {
    color: white;
  }
}

.banner-content {
  padding: 0 50px;
  .search-form {
    padding: 0 20px;
  }
}
