.flats-card {
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  margin: 20px 0;
  color: white;
  background-color: rgba(0,0,0,0.3);
  height: 300px;
  border-radius: 5px;
  .card-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .card-content {
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 15px;
    // color: white;
    .card-name {
      margin-top: 0px;
      font-size: 1em;
      font-weight: bold;
    }
    .card-location {
      font-size: 0.8em;
    }
  }
  .card-price {
    // color: white;
    position: absolute;
    top: -10px;
    right: 10px;
    font-size: 0.8em;
  }
  .absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.mapboxgl-popup {
  .flats-card {
    width: 200px;
    height: 200px;
    margin: 0;
  }
}

.mapboxgl-popup-content {
  padding: 0 !important;
}
