.bookings-list {
  padding-left: 0px;
  list-style: none;
  border: 1px solid rgba(0,0,0,0.2);
  padding: 0 20px;
  margin-top: 0;
}
.booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  padding: 20px 0;
  h2, h3, p {
  font-size: 13px;
  }
  h2 {
    margin-bottom: 5px;
  }
}

.listing-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  flex: 0 0 auto;
}

.listing-message {
  flex: 1 1 auto;
  margin-left: 20px;
  p {
    margin-top: 0;
    opacity: 0.5;
  }
}

.listing-sender {
  flex: 0 0 120px;
  margin-left: 10px;
  h3 {
    opacity: 0.5;
    margin-top: 0;
  }
}

.listing-status {
  flex: 0 0 80px;
  margin-left: 20px;
  h2 {
    font-size: 14px;
  }
}

.pending {
  color: rgba(0,0,0,0.2);
}

.accepted {
  color: green;
}

.rejected {
  color: red;
}
