.index-flex {
  display: flex;
}

#map {
  flex: 0 0 450px;
  height: calc(100vh - 70px);
  position: sticky !important;
  top: 70px !important;
  // position: absolute;
}

.flats-list {
  flex: 1 1 auto;
  padding: 0 30px;
}

.row {
  margin-top: 30px;
}

.flex {
  display: flex;
  align-items: center;
}

.search-submit {
  margin-left: 5px;
}

.show-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .show-title-functions {
    display: flex;
    .edit-pen {
      margin: 0 15px;
    }
  }
}
